@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 476px) {
  body {
    display: flex;
    justify-content: center;
    background-color: #333;
    height: 100vh;
  }

  #root {
    max-width: 390px;
    max-height: 844px;
    overflow: hidden;
    background-color: #fff;
  }
}

.toast {
  font-family: 'Unica One', cursive;
}

.bg-auth {
  background-image: url(@/assets/images/bg.jpg);
  background-size: cover;
  @apply bg-no-repeat;
}
