@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 476px) {
  body {
    display: flex;
    justify-content: center;
    background-color: #333;
    height: 100vh;
  }

  #root {
    max-width: 390px;
    max-height: 844px;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    align-items: center;
  }

  .app {
    display: none;
  }

  .mobile-only {
    display: inline-block;
    font-size: 40px;
    color: white;
  }
}

@media (max-width: 475px) {
  #root {
  }

  .app {
    display: block;
  }

  .mobile-only {
    display: none;
  }
}
/* 
.toast {
  font-family: 'Unica One', cursive;
} */

#root {
  width: 100%;
  background-color: transparent;
}

.bg-auth {
  background-image: url(@/assets/images/bg.jpg);
  background-size: cover;
  @apply bg-no-repeat;
}
